<main>
  <section class="container">
    <div class="title-txt">
      <h1>GET IN TOUCH</h1>
    </div>
    <div class="contacts-block">
      <div class="contact">
        <img src="" alt="">
        <h1>ADRESS</h1>
        <h4>RoarTech Contracting</h4>
        <p>000 Center 14300000</p>
        <p>São Paulo, Brazil</p>
      </div>
      <div class="contact">
        <h1>PHONE</h1>
        <h4>RoarTech Contracting</h4>
        <p>+55 (16) 993888888, cellphone</p>
        <p>+55 (16) 3660 0000, phone</p>
      </div>
      <div class="contact">
        <h1>EMAIL</h1>
        <h4>Request for proposal</h4>
        <p>info@roartech.com</p>
      </div>
    </div>
  </section>
</main>
